.article__lightning {
        display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
   justify-content: center;
}


@media screen and (max-width:414px) {
.article__lightning {
    justify-content: center;
    padding: 0;
    margin: 0;
   
}
    
}